<div class="col-md-6">
  <div class="alert alert-danger hidden" id="stripe_error"></div>

  <% @order.build_billing_address if @order.billing_address.nil? %>
  <% @order.build_shipping_address if @order.shipping_address.nil? %>

  <%= form_for @order do |f| %>
    <% if @order.errors.any? %>
      <div class="alert alert-danger">
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

    <%= f.hidden_field :stripe_card_token, as: :hidden %>
    <% if @order.stripe_card_token.present? %>
      <div class="alert alert-success">
      Card is valid.
      </div>
    <% else %>
      <div class="form-group">
        <label>Card Number</label>
        <%= f.text_field :card_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Card year</label>
        <%= f.text_field :card_year, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Card month</label>
        <%= f.text_field :card_month, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Card CVV</label>
        <%= f.password_field :card_code, class: 'form-control' %>
      </div>
    <% end %>


    <div class="form-group">
      <h4>Shipping address</h4>
      <%= f.select :shipping_address_id, options_for_select(current_user.addresses.all.map { |s| [s.address1, s.id] }, @order.shipping_address_id ), class: 'form-control', include_blank: 'Shipping Address' %>
    </div>

    <div class="form-group order_shipping_address_id_fields">
      <%= f.fields_for :shipping_address do |a| %>
        <%= render 'address_fields', f: a %>
      <% end %>
    </div>

    <div class="form-group">
      <h4>Billing address</h4>
      <%= f.select :billing_address_id, options_for_select(current_user.addresses.all.map { |s| [s.address1, s.id] }, @order.billing_address_id ), class: 'form-control', include_blank: 'Billing Address' %>
    </div>

    <div class="form-group order_billing_address_id_fields">
      <%= f.fields_for :billing_address do |a| %>
        <%= render 'address_fields', f: a %>
      <% end %>
    </div>

    <%= f.submit 'Add', class: 'btn btn-default' %>
  <% end %>
</div>
<div class="row">
  <% current_user.cart_stores.uniq.each do |store| %> 
    <%= render 'cart_items/cart_item', store: store %>
  <% end %>
</div>