<% if store.cart_items.by_user_id(current_user.id).in_cart.any? %>
  <div class="col-md-6">
    <h4>
      <%= store.name %>
    </h4>

    <% store.cart_items.by_user_id(current_user.id).in_cart.each do |cart_item| %>
      <%= cart_item.product.title %> / Count: <%= cart_item.count %> / Price: <%= cart_item.product.price %> 
        <%= link_to cart_item, class: 'btn btn-default pull-right', method: :delete do %>
          Remove
        <% end %>
      <hr/>
    <% end %>
  </div>
<% end %>