<h3 class="page-header">
  Import Products
</h3>

<%= form_tag store_import_products_path(@store), multipart: true do %>
  <% if @errors.present? && @errors.any? %>
    <div class="alert alert-danger">
      <ul>
       <% @errors.each_with_index do |error, index| %>
        <li>Row <%= index + 1 %>: <%= error.full_messages %></li>
       <% end %>
      </ul>
    </div>
  <% end %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", class: 'btn btn-default' %>
  <%= link_to 'Example', '/products-example.csv', class: 'btn btn-default' %>
<% end %>
